﻿@model Fluent_Connections.Models.ViewModels.Account.StandardLoginViewModel

@{
  ViewData["Title"] = "Login";
}

@{await Html.RenderPartialAsync("_CenterFormScriptPartial");}

<div class="center-card">
  <div class="center-card-contents">
    <div class="common-validation" asp-validation-summary="All"></div>
    <form class="common-form" method="post" asp-controller="Account"
          asp-action="Login">
      <table class="common-table-form">
        <tr>
          <td></td>
          <td><h3 class="common-heading">Login</h3></td>
        </tr>
        @{await Html.RenderPartialAsync("_ModelDisplayPartial");}
        <tr>
          <td></td>
          <td><input type="submit" value="Login" class="form-button" /></td>
        </tr>
      </table>
    </form>
  </div>
</div>