﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #A2E395;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    display: flex;
    flex-flow: column;
}

hr.popup-horizontal-line,
hr {
    margin-left: 0;
    margin-right: 0;
    height: 1px;
}

.widgets-horizontal-line,
hr.popup-horizontal-line,
hr {
    border: none;
    background-color: #1F780C;
}

hr.popup-horizontal-line {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
}

.widgets-horizontal-line {
    margin: 10px auto;
    width: 200px;
    height: 3px;
}

.main-contents {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column;
}

/*.footer-contents {
    flex: 0 0 auto;
}*/

html,
body,
.body-content {
    height: 100%;
    width: 100%;
    margin: 0;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

.navbar-inverse {
    background-color: #52B03E;
    border-color: #77CE64;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-toggle {
    color: #1F780C;
    /*font-size: 2.5vh;*/
    font-size: 14pt;
    font-weight: bold;
}

.navbar-inverse .navbar-toggle {
    border-style: solid;
    border-color: #1F780C;
    /*padding: 1vh;*/
}

/*.navbar-inverse .navbar-toggle .icon-bar {
    width: 3vh;
    height: 0.5vh;
    margin: 0.5vh;
}*/

/*Common Classes*/

/*Common Button Cursor*/
.choice-btn,
.scaleable-choice-btn,
.device-delete-btn,
.iot-device-delete-btn,
.add-item-btn,
.iot-option-btn,
.device-option-btn,
.device-small-option-btn,
.form-button,
.inline-button,
.iot-delete,
.common-btn {
    cursor: pointer;
}

/*Common Text Colours*/
.choice-btn,
.scaleable-choice-btn,
.add-item-btn,
.form-button,
.inline-button,
.common-btn,
.common-info-text,
.common-input,
.common-validation ul,
.common-heading,
.common-sub-heading,
.common-label {
    color: #1F780C;
}

.common-heading {
    font-size: 24pt;
}

.common-sub-heading {
    font-size: 20pt;
    margin: 0.5vw;
}

.common-validation ul {
    list-style-type: none;
    font-size: 14pt;
}

.common-label {
    font-size: 12pt;
}

.common-info-text {
    font-size: 16pt;
    font-weight: bold;
}

.common-info-text,
.common-sub-heading,
.common-heading {
    text-align: center;
}


.navbar-inverse .navbar-toggle .icon-bar,
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #77CE64;
    color: #369722;
}

.navbar-inverse .navbar-toggle:hover .icon-bar,
.navbar-inverse .navbar-toggle:focus .icon-bar {
    background-color: #A2E369;
}

/*Normal Button colours*/
.choice-btn,
.scaleable-choice-btn,
.device-details-btn,
.device-edit-btn,
.device-delete-btn,
.iot-device-delete-btn,
.iot-delete-btn,
.form-button,
.inline-button,
.common-btn {
    background-color: #52B03E;
}

.add-item-btn {
    background-color: rgba(0,0,0,0);
}

/*Action Button colours*/
.choice-btn:hover,
.scaleable-choice-btn:hover,
.device-delete-btn:hover,
.iot-device-delete-btn:hover,
.add-item-btn:hover,
.form-button:hover,
.inline-button:hover,
.common-btn:hover {
    background-color: #77CE64;
}

.choice-btn:hover,
.scaleable-choice-btn:hover,
.device-delete-btn:hover,
.iot-device-delete-btn:hover,
.add-item-btn:hover,
.form-button:hover,
.inline-button:hover,
.common-btn:hover {
    color: #369722;
}

/*Button Border Styles*/
.add-item-btn {
    border-style: dotted;
    border-width: 4px;
    border-color: #52B03E;
    background-clip: padding-box;
}

.choice-btn,
.scaleable-choice-btn,
.iot-option-btn,
.device-option-btn,
.device-small-option-btn,
.form-button,
.inline-button,
.common-btn {
    border-style: none;
}

.add-item-btn,
.iot-option-btn,
.device-option-btn,
.device-small-option-btn {
    border-radius: 10px;
}

.iot-device-delete-btn,
.choice-btn,
.scaleable-choice-btn,
.form-button,
.inline-button,
.common-btn {
    border-radius: 5px;
}

/*Button Fonts and Sizes*/
.choice-btn,
.scaleable-choice-btn,
.add-item-btn,
.form-button,
.inline-button,
.common-btn {
    /*border-color: #1F780C;*/
    font-weight: bold;
}

.choice-btn,
.add-item-btn,
.form-button,
.inline-button,
.common-btn {
    /*border-color: #1F780C;*/
    font-size: 18pt;
    padding: 0.5vw 0.5vw 0.5vw 0.5vw;
}

.scaleable-choice-btn {
    font-size: 1.5vw;
}

.choice-btn,
.scaleable-choice-btn {
    margin: 0.5vw;
}

.iot-device-delete-btn {
    margin: 0.5vw;
}

.device-delete-btn,
.iot-device-delete-btn,
.iot-option-btn,
.device-option-btn,
.device-small-option-btn {
    font-weight: bold;
}

.device-delete-btn,
.iot-device-delete-btn,
.iot-option-btn,
.device-option-btn {
    font-size: 1.5vw;
}

.device-small-option-btn {
    font-size: 12pt;
}

.add-item-btn,
.iot-option-btn,
.device-option-btn,
.device-small-option-btn {
    text-align: center;
    padding: 0.5vw;
}

.add-item-btn,
.iot-option-btn,
.device-option-btn {
    margin: 2.5vw;
}

.device-small-option-btn {
    margin: 0.5vw;
}

.device-delete-btn {
    margin: 2.5vw;
    text-align: center;
    padding: 2.5vw;
}

.iot-device-delete-btn {
    padding: 0 1vw;
}

.horizontal-choice,
.iot-option-btn,
.device-option-btn,
.device-small-option-btn {
    display: flex;
    flex-flow: row;
    /*align-items: center;*/
}

.device-small-option-btn {
    justify-content: center;
}

.horizontal-choice {
    justify-content: center;
}

.iot-option-contents,
.device-option-contents {
    margin: 0px 0.5vw 0px 0.5vw;
}

.device-name,
.device-type,
.iot-name {
    flex: 0 1 auto;
}

.device-desc,
.iot-desc {
    flex: 2 1000000 auto;
    text-align: left;
}

.vl {
    flex: 0 0 auto;
    width: 0.4vw;
    background-color: #1F780C;
    border-radius: 5px;
}

.iot-name,
.iot-desc,
.device-name,
.device-type,
.device-desc {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.device-delete-btn,
.iot-device-delete-btn,
.device-details-btn,
.device-edit-btn,
.iot-delete-btn {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.device-delete-btn,
.device-details-btn,
.device-edit-btn,
.iot-delete-btn {
    border-style: solid;
    border-color: #1F780C;
    border-radius: 0.5vw;
    border-width: 0.2vw;
}

.device-delete-btn,
.device-option-delete {
    height: 2.5vw;
    width: auto;
}

.scaleable-choice-btn {
    height: 3vw;
}

.iot-device-delete-btn {
    height: 3vw;
}

.iot-device-option-delete {
    height: 2.5vw;
}

.device-details-btn,
.device-edit-btn,
.iot-delete-btn,
.device-option-details,
.device-option-edit,
.iot-option-delete {
    height: 2.5vw;
    width: 2.5vw;
}

.form-button {
    width: 100%;
}

.inline-button {
    display: inline-block;
}

.common-table-form {
    margin-left: auto;
    margin-right: auto;
    border-collapse: separate;
    border-spacing: 10px;
}

#iot-system-devices-selection-and-user-devices-selection,
#iot-system-devices-and-widgets,
#iot-systems-and-devices {
    display: flex;
    flex-flow: row;
    height: 100%;
}

#iot-system-devices-selection-section {
    flex: 1 1 auto;
}

#user-devices-selection-section {
    flex: 1 1 auto;
}

#iot-system-devices-section {
    flex: 1 1 0;
}

#iot-system-widgets-section {
    flex: 5 1 0;
}

.device-selection-heading-space {
    display: flex;
    justify-content: center;
    align-items: center;
    /*min-height: 80px;*/
}

#user-devices-selection-section,
#iot-system-devices-selection-section,
#iot-system-devices-section,
#iot-system-widgets-section {
    background-color: #8bd57b;
    border: dashed;
    margin: 0 0.5vw;
}

.iot-systems-section {
    flex: 1 1 0;
}

.devices-section {
    flex: 1 1 0;
}

.iot-systems-section,
.devices-section {
    overflow-y: auto;
}

.beacon-widgets {
    width: 206px;
    margin: 3vw;
    text-align: center;
    border-style: solid;
    border-radius: 10px;
    border-width: 3px;
    border-color: #1F780C;
    background-color: #77ce64;
}

@media only screen and (max-width: 600px) {
    #iot-systems-and-devices {
        flex-flow: column;
        overflow: auto;
    }

    .iot-systems-section,
    .devices-section {
        overflow-y: visible;
    }

    .iot-option-btn,
    .device-option-btn {
        font-size: 3vw;
    }

    .device-delete-btn,
    .device-details-btn,
    .device-edit-btn,
    .iot-delete-btn {
        border-radius: 1vw;
        border-width: 0.4vw;
    }

    .device-delete-btn,
    .device-option-delete {
        height: 4vw;
        width: auto;
    }

    .scaleable-choice-btn {
        height: 4.8vw;
    }

    .iot-device-delete-btn {
        height: 4.8vw;
    }

    .iot-device-option-delete {
        height: 4vw;
    }

    .device-details-btn,
    .device-edit-btn,
    .iot-delete-btn,
    .device-option-details,
    .device-option-edit,
    .iot-option-delete {
        height: 4vw;
        width: 4vw;
    }

    .iot-option-contents,
    .device-option-contents {
        margin: 0px 1vw 0px 1vw;
    }
}

/*@media only screen and (max-width: 900px) {
    .device-small-option-btn {
        font-size: 2vw;
    }
}*/

.option-chosen,
.option-selected {
    background-color: #77CE64;
    color: #369722;
}

.option-chosen .vl,
.option-selected .vl {
    background-color: #369722;
}

.option-unselected {
    background-color: #52B03E;
    color: #1F780C;
}

.center-card {
    display: flex;
    flex: 1 1 auto;
    overflow: auto;
}

.center-card-contents {
    margin: auto;
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar-inverse .navbar-brand {
    font-weight: bold;
}

.common-input[type=text],
.common-input[type=password],
.common-input[type=email] {
    border-radius: 10px;
    border-style: solid;
    border-color: #1F780C;
    padding: 10px 10px 10px 10px;
    font-size: 12pt;
}

.popup-back {
    display: none;
    position: fixed;
    z-index: 10000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    background-color: rgba(0,0,0,0.4);
}

.popup-content {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #A2E395;
    margin: 15% auto 0 auto;
    padding: 20px;
    width: 500px;
}

.show-popup {
    display: block;
}

.hide-popup {
    display: none;
}

.show-flex-button {
    display: flex;
}

.hide-flex-button {
    display: none;
}

.show-block-button {
    display: block;
}

.hide-block-button {
    display: none;
}

.hide-beacon-widgets {
    display: none;
}

.show-beacon-widgets {
    display: block;
}