﻿@using Fluent_Connections.Models.ViewModels.IoT
@model IoTSystemDevicesViewModel

@using System.Text.Encodings.Web
@inject JavaScriptEncoder jsEncoder

@{
  ViewData["Title"] = "IoT System";
}

<script src="~/scripts/SecurityLib.js"></script>
<script src="~/scripts/ReactionDisplay.js"></script>
<script src="~/scripts/gauge.min.js"></script>
<script src="~/lib/signalr/signalr.js"></script>

<script>
  let addIoTDevicesButton;
  let addIoTSystemDevicesPopupBack;
  let cancelAddDevicesButton;
  let confirmAddDevicesButton;
  let userDevices;
  let iotSystemDevicesSelections;
  let iotSystemDevices;
  let deleteIoTDeviceBtn;
  let widgetsArea;
  let beaconWidgets;

  let choosableUserDevices;

  let choosableIoTDevices;

  let connections = [];

  function createIoTDevice(device) {
    var name = device.name;
    var type = device.type;
    var description = device.description;
    var userId = device.userId;
    var beaconDeviceId = device.beaconDeviceId;
    var clientDeviceId = device.clientDeviceId;

    var textName = htmlEncode(name);
    var textType = htmlEncode(type);
    var textDescription = htmlEncode(description);

    return (
      "<div id='iot-device-" + userId + "-" + beaconDeviceId + "-"
      + clientDeviceId
      + "' class='device-option-btn option-unselected iot-device' "
      + "data-user-id='" + userId + "' "
      + "data-beacon-device-id='" + beaconDeviceId + "' "
      + "data-client-device-id='" + clientDeviceId + "' "
      + "data-name='" + textName + "' "
      + "data-type='" + textType + "' "
      + "data-description='" + textDescription + "'>" +
      " <div class='device-name device-option-contents'>"
      + textName + "</div>" +
      " <div class='vl iot-option-contents'></div>" +
      " <div class='device-type device-option-contents'>"
      + textType + "</div>" +
      " <div class='vl iot-option-contents'></div>" +
      " <div class='device-desc device-option-contents'>"
      + textDescription + "</div>" +
      "</div>");
  }

  function createChoiceUserDevice(device) {
    var name = device.name;
    var type = device.type;
    var description = device.description;
    var userId = device.userId;
    var beaconDeviceId = device.beaconDeviceId;
    var clientDeviceId = device.clientDeviceId;

    var textName = htmlEncode(name);
    var textType = htmlEncode(type);
    var textDescription = htmlEncode(description);

    return (
      "<div id='choice-user-device-" + userId + "-" + beaconDeviceId + "-"
        + clientDeviceId
        + "' class='device-small-option-btn option-unselected "
        + "user-device-choice' "
        + "data-user-id='" + userId + "' "
        + "data-beacon-device-id='" + beaconDeviceId + "' "
        + "data-client-device-id='" + clientDeviceId + "' "
        + "data-name='" + textName + "' "
        + "data-type='" + textType + "' "
        + "data-description='" + textDescription + "'>" +
      " <div class='device-name device-option-contents'>"
        + textName + "</div>" +
      "</div>");
  }

  function createChoiceIoTDevice(device) {
    var name = device.name;
    var userId = device.userId;
    var beaconDeviceId = device.beaconDeviceId;
    var clientDeviceId = device.clientDeviceId;

    var textName = htmlEncode(name);

    return (
      "<div id='choice-iot-device-" + userId + "-" + beaconDeviceId + "-"
      + clientDeviceId
      + "' class='device-small-option-btn option-unselected "
      + "iot-device-choice' "
      + "data-user-id='" + userId + "' "
      + "data-beacon-device-id='" + beaconDeviceId + "' "
      + "data-client-device-id='" + clientDeviceId + "'>" +
      " <div class='device-name device-option-contents'>"
      + textName + "</div>" +
      "</div>");
  }

  function getWidgetContents(widgets, device) {
    return ("<div class='common-label'>" + device.name + "</div>" +
      "<div class='widgets-horizontal-line'></div>" +
      "<div class='common-label'>" + device.description + "</div>" +
      "<div class='widgets-horizontal-line'></div>" + widgets);
  }

  function appendWidgets(widgetsArea, widgets, device) {
    widgetsArea.append("<div class='beacon-widgets hide-beacon-widgets'"
      + "id='beacon-widgets-" + device.beaconDeviceId + "'></div>");

    let contents = getWidgetContents(widgets, device);

    $("#beacon-widgets-" + device.beaconDeviceId).append(contents);
  }

  /*function createUserDevice(device) {
    var name = device.name;
    var type = device.type;
    var description = device.description;
    var userId = device.userId;
    var beaconDeviceId = device.beaconDeviceId;
    var clientDeviceId = device.clientDeviceId;

    var textName = htmlEncode(name);
    var textType = htmlEncode(type);
    var textDescription = htmlEncode(description);

    return (
      "<div class='device-option-btn option-unselected iot-device' "
      + "data-user-id='" + userId + "' "
      + "data-beacon-device-id='" + beaconDeviceId + "' "
      + "data-client-device-id='" + clientDeviceId + "'>" +
      " <div class='device-name device-option-contents'>"
      + textName + "</div>" +
      " <div class='vl iot-option-contents'></div>" +
      " <div class='device-type device-option-contents'>"
      + textType + "</div>" +
      " <div class='vl iot-option-contents'></div>" +
      " <div class='device-desc device-option-contents'>"
      + textDescription + "</div>" +
      "</div>");
  }*/

  function getDevice(deviceElement) {
    return {
      name: deviceElement.attr("data-name"),
      type: deviceElement.attr("data-type"),
      description: deviceElement.attr("data-description"),
      userId: deviceElement.attr("data-user-id"),
      beaconDeviceId: deviceElement.attr("data-beacon-device-id"),
      clientDeviceId: deviceElement.attr("data-client-device-id")
    };
  }

  function removeIoTSystemDeviceElements(devices) {
    for (let i = 0; i < devices.length; i++) {
      let device = devices[i];

      userDevices.append(createChoiceUserDevice(device));
      let iotDevice = $("#choice-iot-device-" + device.userId + "-"
        + device.beaconDeviceId + "-" + device.clientDeviceId);

      let widgets = $("#beacon-widgets-" + device.beaconDeviceId);

      iotDevice.remove();
      widgets.remove();
    }

    choosableIoTDevices.deleteSelectedElements();
  }

  function updateBeaconWidgetsValues(widgets, values) {
    let temperatureDisplay = widgets.find("canvas")[0];
    temperatureDisplay.dataset.value = values;
  }
</script>

<script>
  var cancelChoice = {
    name: "Cancel",
    onChosen: function () {
      
    }
  };

  var confirmChoice = {
    name: "Confirm",
    onChosen: function () {
      let chosenElements = choosableIoTDevices.getChosenElements();
      let params = {};
      let devices = [];

      params.iotSystemId = "@Model.IoTSystemId";

      chosenElements.each(function (i, chosenElement) {
        let device = getDevice($(chosenElement));
        devices[i] = device;

        params["devices[" + i + "].standardUserHashId"] = device.userId;
        params["devices[" + i + "].beaconDeviceId"] = device.beaconDeviceId;
        params["devices[" + i + "].clientDeviceHashId"] =
          device.clientDeviceId;
      });

      $.ajax({
        method: "POST",
        url: "@Url.Action("RemoveIoTSystemDevices", "IoTSystemEditor")",
        data: params,
        success: function () {
          removeIoTSystemDeviceElements(devices);
        },
        error: function () {
          alert("Couldn't delete IoT System Devices");
        }
      });
    }
  };

  var deleteIoTDeviceConfirmBox = new ChoicePopupBox(
    "delete-iot-device-confirm-box", "Remove IoT System Device");

  deleteIoTDeviceConfirmBox.addChoice(confirmChoice).addChoice(cancelChoice);
  //document.write(deleteIoTDeviceConfirmBox.getHTML());
  deleteIoTDeviceConfirmBox.write();
</script>

<div id="add-iot-system-devices-back" class="popup-back hide-popup">
  <div id="add-iot-system-devices-content" class="popup-content">
    <h2 class="common-heading">Add Devices</h2>
    <hr class="popup-horizontal-line"/>
    <div class="center-card-contents">
      <div id="iot-system-devices-selection-and-user-devices-selection">
        <div id="iot-system-devices-selection-section">
          <div class="device-selection-heading-space">
            <h3 class="common-sub-heading">IoT System</h3>
          </div>
          <hr class="popup-horizontal-line" />
          @foreach (UserBeaconDeviceViewModel iotBeaconDevice in
              Model.IoTDeviceViewModels) {

            <script>
              var device = {
                name: "@jsEncoder.Encode(iotBeaconDevice.Name)",
                userId: "@iotBeaconDevice.StandardUserHashId",
                beaconDeviceId: "@iotBeaconDevice.BeaconDeviceId",
                clientDeviceId: "@iotBeaconDevice.ClientDeviceHashId",
              };

              document.write(createChoiceIoTDevice(device));
            </script>
          }
        </div>
        <div id="user-devices-selection-section">
          <div class="device-selection-heading-space">
            <h3 class="common-sub-heading">User Devices</h3>
          </div>
          <hr class="popup-horizontal-line"/>
          @foreach (UserBeaconDeviceViewModel iotBeaconDevice in
           Model.UserBeaconDeviceViewModels) {

            <script>
              var device = {
                name: "@jsEncoder.Encode(iotBeaconDevice.Name)",
                type: "@iotBeaconDevice.Type",
                description: "@jsEncoder.Encode(iotBeaconDevice.Description)",
                userId: "@iotBeaconDevice.StandardUserHashId",
                beaconDeviceId: "@iotBeaconDevice.BeaconDeviceId",
                clientDeviceId: "@iotBeaconDevice.ClientDeviceHashId",
              };

              document.write(createChoiceUserDevice(device));
            </script>
          }
        </div>
      </div>
      <div class="horizontal-choice">
        <div id="cancel-add-devices-button" class="choice-btn">
          Cancel
        </div>
        <div id="confirm-add-devices-button" class="choice-btn">
          Add Devices
        </div>
      </div>
    </div>
  </div>
</div>

<h2 class="common-heading">IoT System</h2>

<hr/>
<div id="iot-system-devices-and-widgets">
  <div id="iot-system-devices-section">
    <h3 class="common-heading">Devices</h3>
    <div id="iot-system-devices-list">
    @foreach (UserBeaconDeviceViewModel iotBeaconDevice in
              Model.IoTDeviceViewModels) {

      <script>
          var device = {
            name: "@jsEncoder.Encode(iotBeaconDevice.Name)",
            type: "@iotBeaconDevice.Type",
            description: "@jsEncoder.Encode(iotBeaconDevice.Description)",
            userId: "@iotBeaconDevice.StandardUserHashId",
            beaconDeviceId: "@iotBeaconDevice.BeaconDeviceId",
            clientDeviceId: "@iotBeaconDevice.ClientDeviceHashId",
          };

          document.write(createIoTDevice(device));
      </script>
    }
    </div>
    <div class="horizontal-choice">
      <button id="add-iot-devices-btn" class="scaleable-choice-btn">
        Add Devices
      </button>
      <div class="iot-device-delete-btn option-unselected option-contents
           hide-flex-button">
        <img class="iot-device-option-delete"
             src='@Url.Content("~/images/Delete.svg")' />
      </div>
    </div>
  </div>
  <div id="iot-system-widgets-section">
    <h3 class="common-heading">Widgets</h3>
    @foreach (UserBeaconDeviceViewModel iotBeaconDevice in
        Model.IoTDeviceViewModels) {
    <div class="beacon-widgets hide-beacon-widgets"
         id="beacon-widgets-@iotBeaconDevice.BeaconDeviceId">
      <script>
        var widget = "@Html.Raw(iotBeaconDevice.HtmlDisplay)";
        var device = {
          name: "@iotBeaconDevice.Name",
          description: "@iotBeaconDevice.Description"
        };
        document.write(getWidgetContents(widget, device));
      </script>
    </div>
    }
  </div>
</div>

<script>
  addIoTDevicesButton = $("#add-iot-devices-btn");
  addIoTSystemDevicesPopupBack = $("#add-iot-system-devices-back");
  cancelAddDevicesButton = $("#cancel-add-devices-button");
  confirmAddDevicesButton = $("#confirm-add-devices-button");
  userDevices = $("#user-devices-selection-section");
  iotSystemDevicesSelections = $("#iot-system-devices-selection-section");
  iotSystemDevices = $("#iot-system-devices-list");
  deleteIoTDeviceBtn = $(".iot-device-delete-btn");
  widgetsArea = $("#iot-system-widgets-section");
  beaconWidgets = $(".beacon-widgets");

  //console.log(beaconWidgets);

  /*var onUserDeviceChosen = function () {
    
  };

  var onUserDeviceUnchosen = function () {
    
  };*/

  choosableUserDevices = new ChoosableGroup(
    userDevices, ".user-device-choice");

  /*choosableUserDevices.addChosenCallbacks(onUserDeviceChosen);
  choosableUserDevices.addUnchosenCallbacks(onUserDeviceUnchosen);*/

  choosableIoTDevices = new ChoosableGroup(
    iotSystemDevices, ".iot-device");

  choosableIoTDevices.addFirstSelectionCallback(function () {
    deleteIoTDeviceBtn.removeClass("hide-flex-button")
      .addClass("show-flex-button");
  });

  choosableIoTDevices.addLastDeselectionCallback(function () {
    deleteIoTDeviceBtn.removeClass("show-flex-button")
      .addClass("hide-flex-button");
  });

  choosableIoTDevices.addChosenCallback(function (group, elem) {
    let device = getDevice($(elem));
    let widgets = $("#beacon-widgets-" + device.beaconDeviceId);
    widgets.removeClass("hide-beacon-widgets").addClass("show-beacon-widgets");
    let connection = new signalR.HubConnectionBuilder()
      .withUrl("/devicesHub")
      .configureLogging(signalR.LogLevel.Information)
      .build();

    connection.start().then(function () {
      let stream = connection.stream("RequestSensorData", device.beaconDeviceId)
        .subscribe({
          next: (data) => {
            console.log("Data: ");
            console.log(data);
            updateBeaconWidgetsValues(widgets, data);
          },
          complete: () => {
            console.log("DONE WITH SENSOR DATA REQUEST");
          },
          error: (err) => {
            console.log("SENSOR DATA REQUEST FAILED");
          }
        });

      let connId = parseInt(device.beaconDeviceId, 10);
      connections[connId] = { stream: stream, connection: connection };
    });
  });

  choosableIoTDevices.addUnchosenCallback(function (group, elem) {
    let device = getDevice($(elem));
    let widgets = $("#beacon-widgets-" + device.beaconDeviceId);
    widgets.removeClass("show-beacon-widgets").addClass("hide-beacon-widgets");

    let connId = parseInt(device.beaconDeviceId, 10);
    let con = connections[connId];
    con.stream.dispose();
    con.connection.stop();
  });

  addIoTDevicesButton.click(function () {
    addIoTSystemDevicesPopupBack.removeClass("hide-popup")
      .addClass("show-popup");
  });

  addIoTSystemDevicesPopupBack.click(function (e) {
    if (e.target == this) {
      addIoTSystemDevicesPopupBack.removeClass("show-popup")
        .addClass("hide-popup");

      choosableUserDevices.unchooseAllComponents();
    }
  });

  cancelAddDevicesButton.click(function (e) {
    if (e.target == this) {
      addIoTSystemDevicesPopupBack.removeClass("show-popup")
        .addClass("hide-popup");

      choosableUserDevices.unchooseAllComponents();
    }
  });

  confirmAddDevicesButton.click(function (e) {
    if (e.target == this) {
      addIoTSystemDevicesPopupBack.removeClass("show-popup")
        .addClass("hide-popup");

      addChosenUserDevices(choosableUserDevices.getChosenElements());

      choosableUserDevices.unchooseAllComponents();
    }
  });

  deleteIoTDeviceBtn.click(function (e) {
    deleteIoTDeviceConfirmBox.show();
  });

  function addChosenUserDevices(chosenUserDevices) {
    var params = {
      iotSystemId: "@Model.IoTSystemId"
    };

    chosenUserDevices.each(function (i, chosenUserDevice) {
      params["devices[" + i + "].standardUserHashId"] =
        $(this).attr("data-user-id");

      params["devices[" + i + "].beaconDeviceId"] =
        $(this).attr("data-beacon-device-id");

      params["devices[" + i + "].clientDeviceHashId"] =
        $(this).attr("data-client-device-id");
    });

    $.ajax({
      method: "POST",
      url: "@Url.Action("AddIoTSystemDevices", "IoTSystemEditor")",
      traditional: true,
      data: params,
      success: function (widgets) {
        addBeaconsToIoTSystem(chosenUserDevices, widgets);
      },
      error: function () {
        alert("Couldn't add the selected beacons to the IoT system");
      }
    });
  }

  function addBeaconsToIoTSystem(chosenUserDevices, widgets) {
    chosenUserDevices.each(function (i, chosenUserDevice) {
      chosenUserDeviceSelect = $(chosenUserDevice);
      let device = getDevice(chosenUserDeviceSelect);

      iotSystemDevices.append(createIoTDevice(device));
      iotSystemDevicesSelections.append(createChoiceIoTDevice(device));
      appendWidgets(widgetsArea, widgets[i], device);
      chosenUserDeviceSelect.remove();
    });
  }
</script>