﻿@model Fluent_Connections.Models.ViewModels.Account.AddedAccountViewModel

@{
  ViewData["Title"] = "DeviceHome";
}

@{await Html.RenderPartialAsync("_CenterFormScriptPartial");}

<div class="center-card">
  <div class="center-card-contents">
    <div class="common-validation" asp-validation-summary="All"></div>
    <form class="common-form" method="post" asp-controller="Home"
          asp-action="AddToAccount">
      <table class="common-table-form">
        <tr>
          <td></td>
          <td><h3 class="common-heading">Add Account</h3></td>
        </tr>
        @{await Html.RenderPartialAsync("_ModelDisplayPartial");}
        <tr>
          <td></td>
          <td><input type="submit" value="Add" class="form-button" /></td>
        </tr>
      </table>
    </form>
  </div>
</div>