﻿@model Fluent_Connections.Models.ViewModels.Home.StandardHomeViewModel
@using Fluent_Connections.Models.ViewModels.IoT
@using System.Text.Encodings.Web

@inject JavaScriptEncoder jsEncoder

@{
    ViewData["Title"] = "Home Page";
}

<script src="~/scripts/PostPositioning.js"></script>
<script src="~/scripts/SecurityLib.js"></script>
<script src="~/scripts/ReactionDisplay.js"></script>

<script>
  function createNewIoTSystem(name, description, id) {
    var textName = htmlEncode(name);
    var textDesc = htmlEncode(description);

    return (
      "<div class='iot-option-btn option-unselected' id='" + id + "'>" +
      " <div class='iot-name iot-option-contents'>" + textName + "</div>" +
      " <div class='vl iot-option-contents'></div>" +
      " <div class='iot-desc iot-option-contents'>" + textDesc + "</div>" +
      " <div class='iot-delete-btn option-overlay option-unselected " +
      "     iot-option-contents'>" +
      "   <img class='iot-option-delete'" +
      "     src='@Url.Content("~/images/Cross.svg")'/>" +
      " </div>" +
      "</div>");
  }
</script>

<div id="iot-systems-and-devices">
  <div class="iot-systems-section">
    <h2 class="common-heading">My IoT Systems</h2>

    <div id="iot-systems">
      @*<div class="iot-option-btn">
        <div class="iot-name iot-option-contents">Name here</div>
        <div class="vl iot-option-contents"></div>
        <div class="iot-desc iot-option-contents">Description here</div>
      </div>*@

      @foreach (IoTSystemViewModel iotSystem in Model.IoTSystems) {
        <script>
      var name = "@jsEncoder.Encode(iotSystem.Name)";
      var description = "@jsEncoder.Encode(iotSystem.Description)";
      var id = "@iotSystem.Id";

      var iotSystem = createNewIoTSystem(name, description, id);
      document.write(iotSystem);
        </script>
      }
    </div>

    <div id="add-iot-system" class="add-item-btn">
      Add IoT System
    </div>
  </div>
  <div class="devices-section">
    <h2 class="common-heading">My Devices</h2>

    <div id="devices">
      @*<div class="iot-option-btn option-unselected">
      <div class="iot-name iot-option-contents">Name here</div>
      <div class="vl iot-option-contents"></div>
      <div class="iot-desc iot-option-contents">Description here</div>
    </div>*@

      @foreach (BeaconDeviceListItemViewModel clientDevice in Model.ClientDevices) {
        <div class="device-option-btn option-unselected"
             id="@clientDevice.Id">
          <div class="device-name device-option-contents">
            @clientDevice.Name
          </div>
          <div class="vl device-option-contents"></div>
          <div class="device-type device-option-contents">
            @clientDevice.Type
          </div>
          <div class="vl device-option-contents"></div>
          <div class="device-desc device-option-contents">
            @clientDevice.Description
          </div>
          <div class="device-details-btn option-overlay option-unselected
                 option-contents">
            <img class="device-option-details"
                 src='@Url.Content("~/images/Details.svg")' />
          </div>
          <div class="device-edit-btn option-overlay option-unselected
                 option-contents">
            <img class="device-option-delete"
                 src='@Url.Content("~/images/Edit.svg")' />
          </div>
        </div>
      }

      <div id="add-device" class="add-item-btn">
        Add Device
      </div>

      <div class="device-delete-btn option-unselected option-contents">
        Remove Devices
        <img class="device-option-delete"
             src='@Url.Content("~/images/Delete.svg")' />
      </div>
    </div>
  </div>
</div>

<div id="add-iot-system-back" class="popup-back hide-popup">
  <div id="add-iot-system-content" class="popup-content">
    <h2 class="common-heading">Create IoT System</h2>
    <div class="center-card-contents">
      <table class="common-table-form">
        <tr>
          <td>
            <label class="common-label">Name</label>
          </td>
          <td>
            <input type="text" class="common-input"
                   id="iot-system-name" />
          </td>
        </tr>
        <tr>
          <td>
            <label class="common-label">Description</label>
          </td>
          <td>
            <input type="text" class="common-input"
                   id="iot-system-description" />
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <button class="form-button" id="create-iot-system">Create</button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

<div id="delete-iot-system-back" class="popup-back hide-popup">
  <div id="delete-iot-system-content" class="popup-content">
    <h2 class="common-heading">Delete IoT System</h2>
    <div class="center-card-contents">
      <button class="inline-button" id="cancel-delete-iot-system">
        Cancel
      </button>
      <button class="inline-button" id="confirm-delete-iot-system">
        Confirm
      </button>
    </div>
  </div>
</div>

<div id="delete-devices-back" class="popup-back hide-popup">
  <div id="delete-device-content" class="popup-content">
    <h2 class="common-heading">Delete Devices</h2>
    <div class="center-card-contents">
      <button class="inline-button" id="cancel-delete-devices">
        Cancel
      </button>
      <button class="inline-button" id="confirm-delete-devices">
        Confirm
      </button>
    </div>
  </div>
</div>

<div id="edit-device-details-back" class="popup-back hide-popup">
  <div id="edit-device-details-content" class="popup-content">
    <h2 class="common-heading">Edit Device Details</h2>
    <div class="center-card-contents">
      <table class="common-table-form">
        <tr>
          <td>
            <label class="common-label">Name</label>
          </td>
          <td>
            <input type="text" class="common-input"
                   id="device-name-input" />
          </td>
        </tr>
        <tr>
          <td>
            <label class="common-label">Description</label>
          </td>
          <td>
            <input type="text" class="common-input"
                   id="device-description-input" />
          </td>
        </tr>
        <tr>
          <td>
            <button class="form-button" id="cancel-device-details-edit">
              Cancel
            </button>
          </td>
          <td>
            <button class="form-button" id="confirm-device-details-edit">
              Confirm Details
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    var addIoTSystemPopupBack = $("#add-iot-system-back");
    var addIoTSystem = $("#add-iot-system");
    var createIoTSystem = $("#create-iot-system");
    var iotSystemName = $("#iot-system-name");
    var iotSystemDescription = $("#iot-system-description");
    //var iotSystemsAndDevices = $("#iot-systems-and-devices");
    var iotSystems = $("#iot-systems");
    var devices = $("#devices");
    var selectedIoTSystemId;
    var deleteIoTSystemPopupBack = $("#delete-iot-system-back");
    var cancelDeleteIoTSystem = $("#cancel-delete-iot-system");
    var confirmDeleteIoTSystem = $("#confirm-delete-iot-system");
    var addDevice = $("#add-device");
    var deleteDeviceBtn = $(".device-delete-btn");
    var selectedDevices;
    var numOfSelectedDevices = 0;
    var deleteDevicesPopupBack = $("#delete-devices-back");
    var cancelDeleteDevices = $("#cancel-delete-devices");
    var confirmDeleteDevices = $("#confirm-delete-devices");
    var selectedDevice;
    var selectedDeviceName;
    var selectedDeviceDescription;
    var editDeviceDetailsPopupBack = $("#edit-device-details-back");
    var cancelDeviceDetailsEdit = $("#cancel-device-details-edit");
    var confirmDeviceDetailsEdit = $("#confirm-device-details-edit");
    var deviceName = $("#device-name-input");
    var deviceDescription = $("#device-description-input");

    deleteDeviceBtn.addClass("hide-flex-button");

    addIoTSystem.click(function() {
      addIoTSystemPopupBack.removeClass("hide-popup").addClass("show-popup");
      centerPopupForm(addIoTSystemPopupBack);
    });

    addIoTSystemPopupBack.click(function (e) {
      if (e.target == this) {
        addIoTSystemPopupBack.removeClass("show-popup")
          .addClass("hide-popup");
      }
    });

    createIoTSystem.click(function (e) {
      var iotSystemNameVal = iotSystemName.val();
      
      if (iotSystemNameVal == "") {
        alert("The iot system name is empty");
        return true;
      }

      var iotSystemDescriptionVal = iotSystemDescription.val();

      $.ajax({
        type: "POST",
        url: '@Url.Action("AddIoTSystem", "Home")',
        dataType: 'json',
        data: {
          name: iotSystemNameVal,
          description: iotSystemDescriptionVal
        },
        success: function (addedIoTSystem) {
          var newIoTSystem = createNewIoTSystem(iotSystemNameVal,
            iotSystemDescriptionVal, addedIoTSystem.id);

          iotSystems.append(newIoTSystem);

          iotSystemName.val("");
          iotSystemDescription.val("");
          addIoTSystemPopupBack.removeClass("show-popup")
            .addClass("hide-popup");
        },
        error: function () {
          alert("Failed to add IoT system");
        }
      });
    });

    makeComponentsSelectable(iotSystems, ".iot-option-btn, .iot-delete-btn");

    onDeviceChosen = function () {
      numOfSelectedDevices++;

      if (numOfSelectedDevices == 1) {
        deleteDeviceBtn.removeClass("hide-flex-button")
          .addClass("show-flex-button");
      }
    }

    onDeviceUnchosen = function () {
      numOfSelectedDevices--;

      if (numOfSelectedDevices == 0) {
        deleteDeviceBtn.removeClass("show-flex-button")
          .addClass("hide-flex-button");
      }
    }

    makeComponentsChoosable(devices, ".device-option-btn", onDeviceChosen, onDeviceUnchosen);
    makeComponentsSelectable(devices, ".device-edit-btn, .device-details-btn");

    iotSystems.on("click", ".iot-option-btn", function (e) {
      if ($(e.target).parents(".option-overlay").length) {
        return true;
      }

      var id = $(this).attr("id");

      window.location.href = "@Url.Action("Index", "IoTSystemEditor")" + "?id=" + id;

      return true;
    });

    iotSystems.on("click", ".iot-delete-btn", function () {
      selectedIoTSystemId = $(this).parent().attr("id");

      deleteIoTSystemPopupBack.removeClass("hide-popup")
        .addClass("show-popup");
      centerPopupForm(deleteIoTSystemPopupBack);

      return true;
    });

    devices.on("click", ".device-edit-btn", function () {
      selectedDevice = $(this).parent();
      selectedDeviceName = selectedDevice.find(".device-name");
      selectedDeviceDescription = selectedDevice.find(".device-desc");

      deviceName.val(selectedDeviceName.text().trim());
      deviceDescription.val(selectedDeviceDescription.text().trim());

      editDeviceDetailsPopupBack.removeClass("hide-popup")
        .addClass("show-popup");

      centerPopupForm(editDeviceDetailsPopupBack);

      return true;
    });

    editDeviceDetailsPopupBack.click(function (e) {
      if (e.target == this) {
        editDeviceDetailsPopupBack.removeClass("show-popup")
          .addClass("hide-popup");
      }
    });

    cancelDeviceDetailsEdit.click(function () {
      editDeviceDetailsPopupBack.removeClass("show-popup")
        .addClass("hide-popup");
    });

    confirmDeviceDetailsEdit.click(function () {
      var deviceNameVal = deviceName.val();
      
      if (deviceNameVal == "") {
        alert("The device name is empty");
        return true;
      }

      var deviceDescriptionVal = deviceDescription.val();

      var selectedDeviceId = selectedDevice.attr("id");

      $.ajax({
        type: "POST",
        url: '@Url.Action("EditIoTSystem", "Home")',
        dataType: 'json',
        data: {
          id: selectedDeviceId,
          name: deviceNameVal,
          description: deviceDescriptionVal
        },
        success: function () {
          selectedDeviceName.text(deviceNameVal);
          selectedDeviceDescription.text(deviceDescriptionVal);

          editDeviceDetailsPopupBack.removeClass("show-popup")
            .addClass("hide-popup");
        },
        error: function () {
          alert("Failed to modify the details of the device");
        }
      });
    });

    deleteIoTSystemPopupBack.click(function (e) {
      if (e.target == this) {
        deleteIoTSystemPopupBack.removeClass("show-popup")
          .addClass("hide-popup");
      }
    });

    cancelDeleteIoTSystem.click(function (e) {
      if (e.target == this) {
        deleteIoTSystemPopupBack.removeClass("show-popup")
          .addClass("hide-popup");
      }
    });

    confirmDeleteIoTSystem.click(function () {
      $.ajax({
        type: "DELETE",
        url: '@Url.Action("DeleteIoTSystem", "Home")',
        dataType: 'json',
        data: {
          id: selectedIoTSystemId,
        },
        success: function () {
          $("#" + id).remove();
        },
        error: function () {
          alert("Failed to delete IoT system");
        }
      });

      deleteIoTSystemPopupBack.removeClass("show-popup")
        .addClass("hide-popup");
    });

    addDevice.click(function () {
      window.location.href = "@Url.Action("Index", "DeviceManager")";
    });

    deleteDeviceBtn.click(function () {
      selectedDevices = $(".option-chosen");

      deleteDevicesPopupBack.removeClass("hide-popup")
        .addClass("show-popup");

      centerPopupForm(deleteDevicesPopupBack);

      return true;
    });

    deleteDevicesPopupBack.click(function (e) {
      if (e.target == this) {
        deleteDevicesPopupBack.removeClass("show-popup")
          .addClass("hide-popup");
      }
    });

    cancelDeleteDevices.click(function (e) {
      if (e.target == this) {
        deleteDevicesPopupBack.removeClass("show-popup")
          .addClass("hide-popup");
      }
    });

    confirmDeleteDevices.click(function () {
      var deleteDeviceIds = selectedDevices.map(function () {
        return $(this).attr("id");
      }).get();

      $.ajax({
        type: "POST",
        url: '@Url.Action("DeleteDevices", "Home")',
        traditional: true,
        data: { deviceIds: deleteDeviceIds },
        success: function () {
          selectedDevices.remove();
          numOfSelectedDevices = 0;
          deleteDeviceBtn.removeClass("show-flex-button")
            .addClass("hide-flex-button");
        },
        error: function () {
          alert("Failed to delete devices");
        }
      });

      deleteDevicesPopupBack.removeClass("show-popup")
        .addClass("hide-popup");
    });
  });
</script>

@*<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/banner1.svg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Learn how to build ASP.NET apps that can run anywhere.
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525028&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner2.svg" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    There are powerful new features in Visual Studio for building modern web apps.
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525030&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner3.svg" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Learn how Microsoft's Azure cloud platform allows you to build, deploy, and scale web apps.
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525027&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Application uses</h2>
        <ul>
            <li>Sample pages using ASP.NET Core MVC</li>
            <li>Theming using <a href="https://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>How to</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=398600">Add a Controller and View</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699315">Manage User Secrets using Secret Manager.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699316">Use logging to log a message.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699317">Add packages using NuGet.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699319">Target development, staging or production environment.</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Overview</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=518008">Conceptual overview of what is ASP.NET Core</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699320">Fundamentals of ASP.NET Core such as Startup and middleware.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=398602">Working with Data</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=398603">Security</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=699321">Client side development</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=699322">Develop on different platforms</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=699323">Read more on the documentation site</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Run &amp; Deploy</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=517851">Run your app</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=517853">Run tools such as EF migrations and more</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=398609">Publish to Microsoft Azure Web Apps</a></li>
        </ul>
    </div>
</div>*@
