﻿@using Microsoft.AspNetCore.Mvc.ModelBinding


@foreach (ModelMetadata property in ViewData.ModelMetadata.Properties) {
  <tr>
    <td>
      <label class="common-label">@property.DisplayName</label>
    </td>
    <td>
      @Html.Editor(property.PropertyName)
    </td>
  </tr>
}
