@using Microsoft.AspNetCore.Identity
@using Fluent_Connections.Models.DataModels.Account

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse"
          data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a asp-controller="Home" asp-action="Index"
          class="navbar-brand">Fluent Connections</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav"></ul>
      @if (SignInManager.IsSignedIn(User)) {
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a asp-controller="Account" asp-action="Logout">Logout</a>
          </li>
        </ul>
      } else {
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a asp-controller="Account" asp-action="StandardRegister">
              Register
            </a>
          </li>
          <li>
            <a asp-controller="Account" asp-action="Login">Login</a>
          </li>
          <li>
            <a asp-controller="Account" asp-action="LoginDevice">Login Device</a>
          </li>
        </ul>
      }
    </div>
  </div>
</nav>